body {
  margin: 50px;
  font-family: 'Amatic SC', cursive;
  background-color: #a42102;

}

.navbar {
  margin: 0px;
  padding: 18px;
  text-decoration: none;
  background-color: transparent;
}

h2 {
  font-size: 100px;
}

.parallax {
  /* background-image: url("picture.jpg"); */
  background-position: center;
  padding: 50px;
  color: white;
  height: 750px;
  background-repeat: none;
  background-size: cover;
  background-color: orange;
}

 .navbar ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 .navbar li {
   float:left;
 }

 .navbar li a {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   color: black;
   font-size: 22px;
 }

 .navbar li a:hover {
   background-color: orange;
 }
