body {
  margin: 0px;
  font-family: 'Amatic SC', cursive;
  background-color: yellow;
}

#navbar {
  margin: 0px;
  padding: 18px;
  /* background-color:hsla(290,60%,70%,0.0); */
  text-decoration: none;
  background-color: blue;
}


.parallax {
  /* background-image: url("picture.jpg"); */
  background-position: center;
  padding: 50px;
  color: white;
  background-repeat: none;
  background-size: cover;
  background-color: yellow;
}

 ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   overflow: hidden;
 }

 li {
   float:left;
 }

 li a {
   display: block;
   color: black;
   text-align: center;
   padding: 14px 16px;
   color: white;
 }

 li a:hover {
   background-color: none;
 }
