<!DOCTYPE html>
<link rel="stylesheet" href="/stylesheets/aboutme.css"/>
<link href="https://fonts.googleapis.com/css?family=Amatic+SC" rel="stylesheet">
<title>About Me</title>
  <div class="navbar" style="text-decoration: none;">
    <ul>
      <li><a href="">Home</a></li>
      <li><a href="">Pictures</a></li>
      <li><a href="">Contact Info</a></li>
      <li><a href="">About</a></li>
    </ul>
  </div>

<div style="height: 700px;">
  <h2><center>Hello World!</center></h2>
    <div style="font-size: 30px; text-align: center">
      <p>Hey! My name is Phoebe Achonwa. I am 17 years old and I attend MEHS. I was
      born in Greece and I moved to the U.S. when I was three years old. <br> I am
      Nigerian. In MEHS, I ran track which was pretty cool, and I'm going to join
      it again next year. <br>I joined the Girls Who Code summer intermission in 2017.</p>
    </div>
</div>

<div class="parallax" style="background-color:#da7701;">
  hello
</div>

<div class="parallax" style="background-color: #fdc700; padding: 100px;">
  sdlfksdlk fssd sldflsk fsd fslkfjsld fsdfj s dlf sdlfksjdf sdlf sdjfsldf
  sdf sjdlfjsdlfj sdlf sldjfsldfijskaefnweohnf ssdfjsld fsodjfw fsdfjsdf sdlfk
  lsjflksfioewsfdcoif sdfisndf
</div>

<div class="parallax" style="background-color: #a8a8a8;">
  hello
</div>

<div class="parallax" style="background-color: #101829;">
  hello
</div>
